@mixin bs {
  box-shadow: 0 1.5rem 4rem rgba($color-black, 0.4);
}

@mixin bs-1 {
  box-shadow: 0 1.5rem 4rem rgba($color-black, 0.15);
}

@mixin bs-2 {
  box-shadow: 0 3rem 6rem rgba($color-black, 0.1);
}

@mixin bs-3 {
  box-shadow: 0 3rem 6rem rgba($color-black, 0.2);
}

@mixin bs-3 {
  box-shadow: 0 1rem 2rem rgba($color-black, 0.4);
}

@mixin bs-4 {
  box-shadow: 0 1rem 2rem rgba($color-black, 0.1);
}

@mixin bs-5 {
  box-shadow: 0 1rem 3rem rgba($color-black, 0.1);
}

@mixin bs-6 {
  box-shadow: 0 2rem 4rem rgba($color-black, 0.2);
}

@mixin bs-hover {
  box-shadow: 0 1rem 2rem rgba($color-black, 0.2);
}

@mixin bs-active {
  box-shadow: 0 0.5rem 1rem rgba($color-black, 0.2);
}

@mixin ts-hover {
  text-shadow: 0.5rem 1rem 2rem rgba($color-black, 0.2);
}

@mixin center-horizontal-vertical {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

// MEDIA QUERY MANAGER

/* 
0-600px:    Phone
600 - 900px: Tablet portrait
900 - 1200px: Tablet landscape
1200 - 1800 Desktop styles
1800px +: big desktop styles
*/

/* breakpoint argument choices:
- phone
- tab-port
- tab-land
- big-desktop
*/

@mixin respond($breakpoint) {
  @if $breakpoint == phone {
    @media (max-width: 37.5em) {
      // 600px
      @content;
    }
  }
  @if $breakpoint == tab-port {
    @media (max-width: 56.25em) {
      // 900px
      @content;
    }
  }
  @if $breakpoint == tab-land {
    @media (max-width: 75em) {
      // 1200px
      @content;
    }
  }
  @if $breakpoint == big-desktop {
    @media (min-width: 112.5em) {
      // 1800px
      @content;
    }
  }
}
